@import "variables";
@import "starter";

header {
  position: fixed;
  background: none;
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  align-items: center;
  background-color: $background;
  border-bottom: solid 2px white;
  z-index: 1;
  width: 55%;
  height: 14%;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2),
    0 6px 20px rgba(255, 255, 255, 0.19);

  img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  a {
    text-decoration: none;
    color: $text_color;
    transition: all 0.3s ease;
    position: relative;
    font-size: 16px;

    &:hover {
      transform: scale(1.1);
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $text_color;
      left: 0;
      bottom: -5px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
      transform: scaleZ(1);
    }
  }

  .header_div {
    display: flex;
    gap: 20%;
    width: 300px;
    align-items: center;
    justify-content: center;
  }
}
